/* колір фону #FFFFFF
вторинний колір фону #F5F4FA
основний колір тексту та мейл+телефон в header #757575
Колір заголовків #212121
Колір взаємодії #2196F3
Background під h1 та footer #2F303A 
Колір мейл+телефон в футер color: rgba(255, 255, 255, 0.6);

Білий колір #FFFFFF
Чорний колір #000000
*/
/* 
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

:root {
  --primary-bckg-color: #ffffff;
  --second-bckd-color: #f5f4fa;
  --primary-text-color: #757575;
  --primary-title-color: #212121;
  --primary-action-color: #2196f3;
  --bckg-footer-color: #2f303a;
  --white-color: #ffffff;
  --black-color: #000000;
}
/* index.html */
body {
  background-color: var(--primary-bckg-c);
  color: var(--primary-text-color);
  font-family: "Roboto";
  letter-spacing: 0.03em;
  font-size: 14px;
}
.section {
  padding: 94px 0;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
}

/* header */
.header {
  border-bottom: 1px solid #ececec;
  /* padding-top: 24px;
  padding-bottom: 25px; */
}
.header a {
  padding-top: 24px;
  padding-bottom: 25px;
}
.nav,
.main-nav,
.header-list,
.contact-link {
  display: flex;
  align-items: center;
}
/* .nav.container {
  display: flex;
} */
.logo-icon {
  color: var(--primary-action-color);
}
.header-logo-link {
  color: #000000;
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-right: 93px;
  /* padding-top: 24px; */
}

/* .header-list {
  margin-right: 345px;
} */
.header-list-item:not(:last-child) {
  margin-right: 50px;
}
.contact-link {
  margin-left: auto;
}
.logo-icon,
.header-logo-link {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav-link {
  color: var(--primary-title-color);
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
}

.contact-link-item {
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: inline-block;
  padding-right: 50px;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--primary-action-color);
  cursor: pointer;
}

.contact-link-item:hover,
.contact-link-item:focus {
  color: var(--primary-action-color);
}

.nav-item {
  color: var(--primary-action-color);
}

/* Hero */

.hero {
  background-color: var(--bckg-footer-color);
  text-align: center;
  padding: 200px 0;
  margin-left: auto;
  margin-right: auto;
}
.hero-title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 auto 30px auto;
  width: 700px;
}
.hero-button {
  background-color: var(--primary-action-color);
  color: var(--white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 10px 32px;
  border-style: none;
}
.hero-button:hover,
.hero-button:focus {
  color: var(--primary-title-color);
}

/* features */

.features-list {
  display: flex;
  gap: 30px;
}
.features-list-item {
  width: 270px;
}
.features-title {
  color: var(--primary-title-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10;
}

.features .text {
  line-height: 1.71;
  margin-top: 0;
  margin-bottom: 0;
}
.section.features {
  padding-bottom: 0;
}

/* about */

.section-title {
  color: var(--primary-title-color);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}
.about-list {
  display: flex;
}
.about-item {
  display: inline-block;
  margin-right: 30px;
}
.about-item:last-child {
  margin-right: 0px;
}

/* team */

.team {
  background-color: var(--second-bckd-color);
}
.section-title.team {
  margin-top: 0;
  margin-bottom: 50px;
}
.team-list {
  display: flex;
}
.team-img {
  margin-top: 0;
  /* margin-bottom: 30px; */
}
.team-title {
  color: var(--primary-title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}
.team-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}
.team-info {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-item {
  display: inline-block;
  background-color: var(--white-color);
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  max-width: 270px;
  margin-right: 30px;
  width: 270px;
  height: 370px;
}

.team-item:last-child {
  margin-right: 0px;
}
/* footer */

.footer {
  background-color: var(--bckg-footer-color);
  padding: 60px 0px;
}

.footer-logo-link {
  color: var(--white-color);
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-bottom: 20px;
  display: inline-block;
}
.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-adress {
  color: var(--white-color);
  font-style: normal;
  text-decoration: none;
  line-height: 1.71;
}
.footer-adress,
.footer-contact-link {
  display: inline-block;
}
/* .footer-adress:hover,
.footer-adress:focus {
  color: var(--primary-action-color);
} */

.footer-contact-link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  line-height: 1.71;
  font-style: normal;
}

.footer-contact-link:hover,
.footer-contact-link:focus {
  color: var(--primary-action-color);
}

/* portfolio.html */

/* portfolio */

.filter-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}
.filter-item {
  padding-right: 8px;
}
.filter-btn {
  color: var(--primary-title-color);
  background-color: #f5f4fa;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  font-family: inherit;
  border-radius: 4px;
  border-style: none;
  padding: 6px 22px;
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--primary-action-color);
  color: var(--white-color);
}

.project-title {
  color: var(--primary-title-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 4px;
}

.project-text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
  margin-top: 0;
  margin-bottom: 0;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.project-card {
  border: 1px solid #ececec;
  max-width: 370px;
  width: calc((100% - 60px) / 3);
}
.project-info {
  padding: 20px 24px;
}
